#main-popup {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block;
    width: 100%;
    z-index: 9999;
    padding: 0;
    margin: 0;
}

#hide-btn {
    height: 20px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 20px;
    overflow: hidden;
    text-align: right;
    background-color: #2161bb;
    color: white;
    padding: 0 5px;
}

#hide-btn:active {
    position: relative;
    top: 1px;
}

#hide-btn:hover {
    background-color: #78909c;
    color: white;
}

#popup {
    background-color: #ebf3ff;
    text-align: center;
    display: block;
    flex-direction: column;
    width: 100%;
}

#send-btn {
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    background-color: #2161bb;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    height: 35px;
    width: 25%;
    margin: auto;
    margin-top: 15px;
    font-weight: bold;
    text-decoration: none;
}

#send-btn:hover {
    background-color: #003d92;
    color: white;
}

#send-btn:active {
    position: relative;
    top: 1px;
}

.header {
    overflow: hidden;
    background-color: #78909c;
}

#statistics-container {
    width: 100%;
    height: fit-content;
}

#statistics-container ul {
    list-style: none;
    margin-left: 30px;
}

#statistics-container li::before {
    content: "• ";
    color: blue;
    /* or whatever color you prefer */
}

#covid-statistics, #co2-statistics {
    width: 96%;
    margin: auto;
}

#covid-news {
    text-align: left;
    width: 96%;
    margin: auto;
    background-color: #ff000030;
    margin-bottom: 20px;
    padding: 8px;
}

#weather-statistics {
    display: inline-flex;
    justify-content: center;
    width: 96%;
    margin-bottom: auto;
}

.hidden {
    display: none;
}
