#main-popup{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-Y:auto;
	overflow-X:hidden;
	display: block;
	width:100%;
	z-index:9999;
	padding:5;
	margin:0;
}

#hide-btn{
	float : right;
	border:none;
	outline:none;
	cursor: pointer;
	line-height:20px;
    overflow:hidden;
	background-color:#78909c;
	color:white;
}

#hide-btn:active {
	position:relative;
	top:1px;
}

#hide-btn:hover{
	background-color:black;
	color:white;
}

#popup{
	background-color: #ebf3ff;
	text-align: center; 
	display: block;
    align-items: center;
	flex-direction:column;
	height:100%;
	width:100%;
	padding: 5px 0px;
}

#send-btn {
	border:none;
	border-radius: 2px;
	background-color:#2161bb;
	display:inline-flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
	color:white;
	height:35px;
	width: 25%;
	margin:auto;
	font-weight: bold;
	text-decoration:none;
}
#send-btn:hover {
	background-color:#003d92;
	color:white;
}
#send-btn:active {
	position:relative;
	top:1px;
}

.header{
	overflow:hidden;
	background-color:#78909c;
}