#weather_info_list {
    font-size: 1em;
    overflow-x: scroll;
    white-space: nowrap;
}

.weather_card {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    padding: 5px 5px;
    width: 170px;
    height: 230px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

.weather_card__main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.weather_card__sky {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #03a9f4;
}

.weather_card__sky img {
    width: inherit;
    height: auto;
}

.weather_card__avg_temp {
    display: inline-block;
    color: #666;
    font-weight: 300;
    font-size: 2em;
    line-height: 0.2em;
}

.weather_card__info_main {
    display: flex;
    justify-content: space-between;
}

.weather_card__day {
    font-weight: 300;
    font-size: 1em;
}

.weather_card__description {
    color: #777;
    font-weight: 400;
    font-size: 0.85em;
    margin: 2px;
    padding: 0;
    width: 100%;
}

.weather_card__info {
    color: rgb(148, 148, 148);
    font-weight: 300;
    font-size: 0.85em;
}

.weather_card__infos {
    width: 100%;
}

.weather_card__info_main div {
    text-align: left;
}

.weather_card__data {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 0.85em;
}

.weather_card__data td {
    text-align: center;
}

.weather_card__temp_am,
.weather_card__temp_pm {
    color: rgb(148, 148, 148);
}

.weather_card__temp_am * {
    padding-top: 10px;
}

#pollution_statistics {
    width: 96%;
    box-shadow: 0px 0.2em 0.4em rgb(0, 0, 0, 0.6);
    background: white;
    color: #666;
    margin-top: 10px;
    padding: 2px;
    display: inline-block;
}

#pollution_card {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

#pollution_card td {
    padding-left: 15px;
    padding-right: 15px;
}

.pollution_card__content {
    text-align: center;
    font-size: 1em;
}

#pollution_icon {
    width: 75px;
    height: 75px;
}

.pollution_card__content p {
    padding: 5px;
    padding-bottom: 1px;
    margin: 0;
}

.pollution_card__content__value b {
    font-size: 2em;
    padding: 5px;
}

#criminality_statistics {
    width: 96%;
    box-shadow: 0px 0.2em 0.4em rgb(0, 0, 0, 0.6);
    background: white;
    color: #666;
    margin-top: 10px;
    padding: 2px;
    display: inline-block;
}

#criminality_card {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

#criminality_card td {
    padding-left: 10px;
    padding-right: 10px;
}

#criminality_card__container {
    display: inline-block;
}

.criminality_card__content {
    text-align: center;
    font-size: 1em;
}

#criminality_icon {
    width: 75px;
    height: 75px;
}

.criminality_card__content p {
    padding: 5px;
    padding-bottom: 1px;
    margin: 0;
}

.criminality_card__content__value b {
    font-size: 2em;
    padding: 5px;
}

#rating {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rating b {
    font-size: 2em;
}

#rating__stars {
    display: inline-flex;
    width: 600px;
    justify-content: space-evenly;
}

.rating_star {
    width: 45px;
    height: 45px;
}

#living_cost_statistics {
    width: 96%;
    box-shadow: 0px 0.2em 0.4em rgb(0, 0, 0, 0.6);
    background: white;
    color: #666;
    margin-top: 10px;
    padding: 2px;
    display: inline-block;
}

#living_cost_card {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

#living_cost_card td {
    padding-left: 10px;
    padding-right: 10px;
}

#living_cost_card__container {
    display: inline-block;
}

.living_cost_card__content {
    text-align: center;
    font-size: 1em;
}

#living_cost_icon {
    width: 75px;
    height: 75px;
}

.living_cost_card__content p {
    padding: 5px;
    padding-bottom: 1px;
    margin: 0;
}

.living_cost_card__content__value b {
    font-size: 2em;
    padding: 5px;
}

#restaurants_statistics {
    width: 96%;
    box-shadow: 0px 0.2em 0.4em rgb(0, 0, 0, 0.6);
    background: white;
    color: #666;
    margin-top: 10px;
    padding: 2px;
    display: inline-block;
}

#restaurants_card {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

#restaurants_card td {
    padding-left: 10px;
    padding-right: 10px;
}

#restaurants_card__container {
    display: inline-block;
}

.restaurants_card__content {
    text-align: center;
    font-size: 1em;
}

#restaurants_icon {
    width: 75px;
    height: 75px;
}

.restaurants_card__content p {
    padding: 5px;
    padding-bottom: 1px;
    margin: 0;
}

.restaurants_card__content__value b {
    font-size: 2em;
    padding: 5px;
}

#healthcare_statistics {
    width: 96%;
    box-shadow: 0px 0.2em 0.4em rgb(0, 0, 0, 0.6);
    background: white;
    color: #666;
    margin-top: 10px;
    padding: 2px;
    display: inline-block;
}

#healthcare_card {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

#healthcare_card td {
    padding-left: 10px;
    padding-right: 10px;
}

#healthcare_card__container {
    display: inline-block;
}

.healthcare_card__content {
    text-align: center;
    font-size: 1em;
}

#healthcare_icon {
    width: 75px;
    height: 75px;
}

.healthcare_card__content p {
    padding: 5px;
    padding-bottom: 1px;
    margin: 0;
}

.healthcare_card__content__value b {
    font-size: 2em;
    padding: 5px;
}

#food_statistics {
    width: 96%;
    box-shadow: 0px 0.2em 0.4em rgb(0, 0, 0, 0.6);
    background: white;
    color: #666;
    margin-top: 10px;
    padding: 2px;
    display: inline-block;
}

#food_card {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

#food_card td {
    padding-left: 10px;
    padding-right: 10px;
}

#food_card__container {
    display: inline-block;
}

.food_card__content {
    text-align: center;
    font-size: 1em;
}

#food_icon {
    width: 75px;
    height: 75px;
}

.food_card__content p {
    padding: 5px;
    padding-bottom: 1px;
    margin: 0;
}

.food_card__content__value b {
    font-size: 2em;
    padding: 5px;
}

.card_title {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 2.5em;
}