.sign-up-page *,
.sign-up-page *:before,
.sign-up-page *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.sign-up-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('./images/backround.jpg') center/cover no-repeat fixed;
    font-family: 'Playfair Display', serif;
}

.sign-up-page input,
.sign-up-page button {
    border: none;
    outline: none;
    background: none;
}

.sign-up-page {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 670px;
    background: #b1f9fe;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.sign-up-page .form {
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.sign-up-page h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.sign-up-page label {
    display: block;
    width: 250px;
    margin: 15px auto 0;
    text-align: center;
}

.sign-up-page label span {
    font-size: 14px;
    font-weight: 550;
    color: #505f75;
    text-transform: uppercase;
}

.sign-up-page input {
    display: block;
    width: 100%;
    margin-top: 1px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.sign-up-page button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: black;
    font-size: 15px;
    cursor: pointer;
}

.sign-up-page .submit {
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    background: -webkit-linear-gradient(left, #75efff, #24c0ef);
}

.sign-up-page .submit:hover {
    background: -webkit-linear-gradient(left, #24c0ef, #75efff);
}

.sign-up-page .sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #b1f9fe;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}

.sign-up-page.s-signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

.sign-up-page .img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.sign-up-page .img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.sign-up-page .img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.sign-up-page.s-signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.sign-up-page .img-text button{
    text-align: center;
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}

.sign-up-page .img-text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    color: white;
    font-weight: 1000 bold;
    font-size: 100px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.sign-up-page .img-text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.sign-up-page .img-text p {
    font-size: 14px;
    line-height: 1.5;
}

.sign-up-page.s-signup .img-text.m-up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}

.sign-up-page .img-text.m-in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}

.sign-up-page.s-signup .img-text.m-in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.sign-up-page .sign-user {
    padding-top: 25px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.sign-up-page .sign-admin {
    padding-top: 25px;
}

.sign-up-page.s-signup .sign-user {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.sign-up-page .img-btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 200px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.sign-up-page .img-btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 30px;
}

.sign-up-page .img-btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
    ;
}

.sign-up-page .img-btn span.m-in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

.sign-up-page .s-signup .img-btn span.m-in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.sign-up-page.s-signup .img-btn span.m-up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}

.sign-up-page.sign-admin {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}

.sign-up-page.s-signup .sign-admin {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}