body {font-family: Arial, Helvetica, sans-serif;
	min-width:350px;
	max-width:350px;}
* {box-sizing: border-box;
	margin: 0;
}
	
form {
	background-color:#f3e5f5;
	padding:40px 20px 30px 20px;
}

a {
  text-decoration: none;
  display: inline;
  padding: 1px 12px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.btn-head {
  font-size:1.5em;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
  border-radius:5px;
}

.round {
  border-radius: 50%;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 8px;
  background: white;
  color: #6a1b9a;
  min-width: 50px;
  text-align: center;
  font-size:1.4em;
  border: 1px solid gray;
  border-left:none;
  border-radius:5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid gray;
  border-right:none;
  border-radius:5px;
}

.input-field:focus {
  border: 1px solid #6a1b9a;
  border-right: none;
}
.input-field:focus ~ .icon{
  border: 1px solid #6a1b9a;
  border-left: none;
}

/* Set a style for the submit button */
.btn {
  font-size:1.2em;
  background-color: #6a1b9a;
  color: white;
  padding: 13px 20px;
  border: 1px solid #6a1b9a;
  border-radius:5px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.header {
	display:flex;
	padding:15px 20px 15px 20px;
	background-color: #6a1b9a;
	align-items:center;
	color:white;
}